---
layout: default
---

%h1 The Online Resume of Matthew Spence

.row
  .col-md-8

    .advert
      %h3 Available For Work
      %h4 I'm currently looking for projects and opportunities
      %p If you have a project that you need some help with I'd love to chat and see if my skills and expertise are what you need to make it a success. Please email me at <a href="mailto:msaspence@gmail.com">msaspence@gmail.com</a>.

    .timeline

      .event.employment.hx
        %img.avatar{ src: '/img/hx.png'}
        %h4 Senior Software Engineer
        %h3
          Holiday Extras
          %small.dates Dec 2015 - Feb 2017

        .responsibilities
          %h5 Responsibilities

          %p Produce bug free, future proofed code, setting the standard by which others developers work. Translate the needs of the business into solutions. Working to and on the company values, the team standards and best practices.

          %p Identify, react quickly and take ownership of any serious problems with quality. Improve the performance and development of the team. Sharing and supporting individuals by helping create team processes, following them and enforcing their use by others. Identify technical potential in others and works with them to improve the finer detail. Constantly look for better ways of working and ways to improve.

          .more-details

            %p Staying what’s going on in the industry and using this to improve skills and/or the skills of others. Working on a range of systems and constantly update any gaps in knowledge.


            %p Work closely with the leaders of the business (Directors, ADs, HOTs & POs) and external contacts. Communicate well, be supportive, flexible and take a balanced view between tech and business need. Creates constructive and positive debate around solution creation. Foresee and tactfully explain the risks involved, presenting solutions where necessary.

          .actions
            %a.more{ href: '#' } More Details

          .skills
            %h5 Skills &amp; Technologies
            %ul
              %li JavaScript
              %li React
              %li Backbone
              %li Redux
              %li Ruby
              %li Rails
              %li AWS
              %li GIT
              %li TDD/BDD
              %li CoffeeScript
              %li jQuery
              %li Less/CSS
              %li Scrum
              %li Pods
              %li User Experience
              %li Product Design
              %li Code Review
              %li Jira
              %li Slack
              %li Pair Programming

      .event.employment
        %img.avatar{ src: '/img/trakio.png'}
        %h4 CTO &amp; Technical Cofounder
        %h3
          Trakio
          %small.dates Apr 2013 - Dec 2015

        .responsibilities
          %h5 Responsibilities &amp; Achievements
          %p
            I've spent the last two and a half years working on Trakio, helping companies increase activation and reduce churn by understanding their users better. In that time we have executed a number of pivots searching for a repeatable and scalable business model. Each time creating hypotheses and testing them.

          %p
            As the lead engineer I have been responsible for building, managing and documenting several production services and client libraries from scratch. I implemented the provisioning of our hardware infrastructure on AWS using Chef, along with service monitoring and redundancy, having had no previous experience of SysAdmin. I recruited and managed all our technical employees and contractors, managing their on boarding, training, and providing direction and mentorship for their personal development. Utilizing online tools to collaborate remotely, often across timezones.

        .more-details

          %p
            Any attempt to try and distill this journey into a few paragraphs would fail to do it justice. If you would like to hear more about my experience I would love to dissect it with you, in person.

          %p
            Working on Trakio has been the single most informative period of my life. Coming to San Francisco, interviewing for YC, taking part in the Alchemist Accelerator, experiencing nacho "cheese", the people I have met, the lessons I have learned. It has been eye opening to say the least.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li Ruby
            %li Rails
            %li Sinatra
            %li Sneakers
            %li OAuth
            %li MongoDB
            %li WebSockets
            %li RabbitMQ
            %li Redundancy
            %li HAProxy
            %li Nginx
            %li Monit
            %li Capistrano
            %li Chef
            %li AWS
            %li GIT
            %li TDD/BDD
            %li JavaScript
            %li CoffeeScript
            %li D3
            %li Load Testing
            %li Highcharts
            %li jQuery
            %li Less/CSS
            %li Photoshop
            %li Application Design
            %li User Experience
            %li Product Design
            %li Infrastructure Design
            %li Technical Support
            %li Code Review
            %li Trello
            %li Slack
            %li Pair Programming


      .event.employment
        %img.avatar{ src: '/img/virally.png'}
        %h4 CTO &amp; Technical Cofounder
        %h3
          Virally
          %small.dates Jun 2012 - Apr 2013

        .responsibilities
          %h5 Responsibilities &amp; Achievements
          %p
            I conceived and delivered a working prototype as a proof of concept inside of two weeks. I led and managed the team that then fleshed this concept into an off the shelf solution to generate and manage leads from long form content marketing. The product we built enabled customers to achieve conversion rate increases of 122-200%, and secured us a 6 month up front contract with GFK. Both myself and my cofounder sold our stakes to pursue other ideas.

        .more-details
          %p
            While at Fruitbowl, a client came to us with a problem. We immediately saw the resell value in the solution and spun it out into its own startup: Virally, a lead generation tool for companies with downloadable content marketing. It uses social network authentication to easily and seemlessly submit users' details in return for valuable downloadable content.

          %p
            My cofounder and I realised it was heading in a direction that we weren't passionate about. We both sold our stake in Virally to our investors to start Trakio.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li Ruby
            %li Rails
            %li JavaScript
            %li jQuery
            %li Less/CSS
            %li PostgreSQL
            %li Heroku
            %li CDN
            %li GIT
            %li Social Auth
            %li TDD/BDD
            %li Product Design
            %li Lean Startup
            %li Trello


      .event.employment.fruitbowl
        %img.avatar{ src: '/img/fruitbowl.png'}
        %h4 Senior Consultant &amp; Lead Developer
        %h3
          Fruitbowl Media
          %small.dates Mar 2012 - Aug 2012

        .responsibilities
          %h5 Responsibilities &amp; Achievements
          %p
            I increased the size and breadth of the company's portfolio by adding more advanced web application work. I built a team capable of delivering this more complex work by recruiting an additional designer and developer, and facilitating the training existing staff.

        .more-details
          %p
            I started working with Fruitbowl Media as a freelancer in November 2011, and it wasn't long before they asked me to join them full time as lead developer, to expand their current bread and butter of static marketing sites toward larger web application projects.

          %p
            I wasn't at Fruitbowl long before we decided to spin out one such project we were working on with a client into its own fledgling company.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li PHP
            %li Wordpress
            %li HAML/HTML
            %li JavaScript
            %li jQuery
            %li CSS/Less
            %li Photoshop
            %li MySQL
            %li PostgreSQL
            %li TDD/BDD
            %li GIT
            %li Account Management
            %li Project Management
            %li Trello


      .event.employment.kent
        %img.avatar{ src: '/img/kent.png'}
        %h4 Web Developer
        %h3
          University of Kent - Web Development Team
          %small.dates Nov 2007 - Mar 2012

        .responsibilities
          %h5 Responsibilities &amp; Achievements
          %p
            I built and maintained several key systems including the University's password reset system, on boarding for new students and online maps. I successfully managed the implementation and launch of the University's student fee gateway by a 3rd party vendor, a service that processes tens of millions of pounds in tuition each year. I oversaw the transition of the main marketing site's web framework, a key component of the University's web presence, to this team. I led the adoption of agile processes, working to refine a scrum based process that allowed us to be an agile team within a slow and bureaucratic department. I implemented and consulted on several user experience improvements across various teams and services which contributed to a raise in our student satisfaction rating, the key performance metric for our department.

        .more-details

          %p
            After graduating I moved from my part time roll into a full time position, and switched to a team that was responsible for many of the University's online web applications.

          %p
            I am most proud of the transition the team made during the time that I worked there, and my contribution to that transition. When I started we were a poorly performing team with very little coherence, struggling to deal with the bureaucracy of the wider organization. By the time I left we had implemented continuous improvement and evolved our own flavor of agile scrum that allowed us to function most effectively given the constraints of the environment in which we operated.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li Apache
            %li PHP
            %li Symfony
            %li Drupal
            %li MySQL
            %li HTML
            %li XML
            %li XSLT
            %li CSS
            %li JavaScript
            %li jQuery
            %li Photoshop
            %li Wireframing
            %li Application Design
            %li User Experience
            %li User Testing
            %li Load Testing
            %li TDD/BDD
            %li Agile
            %li Scrum
            %li Sharepoint
            %li Project Management

      .event.employment.kent-junior
        %img.avatar{ src: '/img/kent.png'}
        %h4 Web Developer/Designer
        %h3
          University of Kent - Departmental Web Support Team
          %small.dates Nov 2005 - Nov 2007

        .responsibilities
          %h5 Responsibilities &amp; Achievements
          %p
            I was key in translating an established print based design and branding to the web for use across a range of and departments. I implemented that design into a flexible PHP/CSS based template that was successfully rolled out across dozens of departments and publishers managing content on www.kent.ac.uk, a site that receives tens of thousands of visits a month. I successfully project managed the adoption of site template upgrades for several large departments, and account managed several others. I was promoted twice during my two years in this team.

        .more-details

          %p
            Given how long I'd been experimenting with web technologies for, my university studies did little to challenge me and so I found a part time job for the University as a designer/developer in their fledgling Departmental Web Support Team. We worked with departmental web teams to deliver their web sites under a consistent brand.

          %p
            Early on I was given the opportunity to work on creating a standardized template that could be used across the large number of academic and nonacademic departments. I was the main designer and developer on the first 3 generations of this centralized template. And contributed to later versions of the framework as a senior developer as part of a larger team.

          %p
            I progressed within the team, starting as a part time junior designer to working full time hours as a senior designer/developer. As a senior, I was responsible for mentoring and supervising junior staff and project managing the development of departmental web projects.

          %p
            Over the years that I worked on the system we evolved it into to a PHP framework that allowed departmental editors to write HTML in Dreamweaver as they were used to. We would post process their HTML to build advanced dynamic UI elements that would not othewise be possible with dreamweaver alone.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li Photoshop
            %li Dreamweaver
            %li Apache
            %li PHP
            %li MySQL
            %li HTML
            %li CSS
            %li SVN
            %li Application Design
            %li Wireframing
            %li Customer Support
            %li Account Management
            %li Project Management
            %li Training


      .event.education
        %img.avatar{ src: '/img/kent.png'}
        %h4 University of Kent
        %h3
          Multimedia Design &amp; Tech BSc
          %small.dates Sept 2004 - July 2007

        %p.summary
          A course that can be described as computer science with an emphasis on graphic design and web technologies. It perfectly suited my interests in both the aesthetic design, and the underlying programming of software.

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li Graphic Design
            %li Photography
            %li Computer Architecture
            %li C++
            %li Java
            %li HTML
            %li CSS
            %li JavaScript
            %li .Net
            %li 3D Animation
            %li Flash Animation
            %li Flash


      .event.condensed-education.education
        %img.avatar{ src: '/img/rhs.png'}
        %img.avatar{ src: '/img/kent.png'}
        %h4 University of Kent
        %h3
          Multimedia Design &amp; Tech BSc
          %small.dates Sept 2004 - July 2007
        %h4 Royal Hospital School
        %h3
          GCSEs &amp; A Levels (UK High School)
          %small.dates Sept 1997 - July 2004
        .skills
          %h5 A Levels
          %ul
            %li Business
            %li Physics
            %li Maths
            %li Politics
          %h5 GCSEs
          %ul
            %li English Liturature
            %li English Language
            %li Maths
            %li Double Science
            %li Geography
            %li History
            %li Maths
            %li French

      .event.hacking
        %img.avatar{ src: '/img/rhs.png'}
        %h4 Macromedia Flash
        %h3
          Nelson's Leavers Interactive Yearbook
          %small.dates Academic Year 2003/04

        %p.summary
          An interactive Flash application presented on a DVD data disk. With farewell messages, photo galleries, videos and easter eggs. Developed and produced during my last year of high school, mostly for the love of it, but with a nice little profit at the end.

        .more-details
          %p
            The web back then wasn't what it is now, and I was frustrated with the limited interactivity of web pages, so I turned to the only place there was to turn in 2003: Macromedia Flash!

          %p
            Along with two like minded friends we finished the project on time and made ourselves some beer money for the summer. Most importantly though, I learned things that were far more valuable given my future in software engineering than anything I learnt in class.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %ul
            %li Flash
            %li ActionScript
            %li Photoshop
            %li Video Editing


      .event.hacking
        %img.avatar{ src: '/img/flashpoint.png'}
        %h4 I Catch the Programming Bug
        %h3
          Operation Flashpoint Released
          %small.dates Summer 2001

        %p.summary
          Writing custom mission scripts for Operation Flashpoint was what first really got me into programming. I probably would have found my calling with out this game but even so I owe a lot to it for first igniting my passion for programming.

        .more-details
          %p
            When I purchased a copy of Operation Flashpoint it was as "just another game" but when I discovered the scriptable mission editor I was hooked. I'd used PHP before but only as a templating language, this was something else entirely. I could make characters move across the virtual map engaging each other at my whim, I was hooked!

          %p
            From here I started exploring more and more of the potential of PHP as a programming language. Building the foundation for a passion for making things, which is as strong today as ever.

        .actions
          %a.more{ href: '#' } More Details

      .event.education
        %img.avatar{ src: '/img/rhs.png'}
        %h4 Royal Hospital School
        %h3
          GCSEs &amp; A Levels (UK High School)
          %small.dates Sept 1997 - July 2004

        %p.summary
          My high school education lacked any formal programming education but that didn't stop me learning. I spent a lot of (my teachers will say too much) time tinkering away on my own web projects.

        .more-details

          %p
            The Royal Hospital School, is an income assessed private boarding school with a strong naval tradition. Boarding with boys and girls from a wide range of backgrounds has given me many insights and oppotunities I simply would not have had access to at any other school.

          %p
            Extra ciricular activities like the Combined Cadet Force and the Duke of Edinborough Award have provided me with the skills and resiliance to prepare and deal with most of what life has had to throw at me.

          %p
            Boarding from the early age of 12 and being away from my family has meant that from an early age I have had the self decipline and independance to work well on my own. Whilst the commradery and nature of boarding have instilled a great appreciation for working as part of a team.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 A Levels
          %ul
            %li Business
            %li Physics
            %li Maths
            %li Politics

          %h5 GCSEs
          %ul
            %li English Literature
            %li English Language
            %li Maths
            %li Double Science
            %li Geography
            %li History
            %li Maths
            %li French


      .event.hacking
        %img.avatar{ src: '/img/html.png'}
        %h4 Thanks to my Uncle
        %h3
          My First HTML editor
          %small.dates Summer 1997

        %h5
          A unknown WYSIWYG editor first starts my love affair with computers.

        %p
          I've been playing around with the web since my Uncle gave me a web development magazine with a free version of a WYSIWYG editor on the accompanying demo disc (in the days when demo discs were still a thing). It was so long ago now that I can't even remember the name of the software, but what I do remember is the thrilling world of marques, frames and animated GIF buttons (these were also still
          a thing) that it introduced me to.

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li HTML
            %li CSS
            %li PHP
            %li Awesome Animated GIFs
            %li Including but not limited to "Under Construction" workmen

  .col-md-4

    .row-fluid.side-bar
      .col-md-12.col-sm-6
        .projects

          %h3 Example Code
          %p.description Some of my open source work:

          .project
            .actions
              %a.btn.btn-xs.btn-default{ href: 'https://github.com/msaspence/trakio-ruby', target: '_blank' }
                %i.icon.icon-github
                %span.sr-only.text Trakio Ruby Client's Source Code
            %h4 Trakio Ruby Client
            %p.description A Ruby Gem for Trakio's API.
            .url.print-only
              %i.icon.icon-github
              github.com/msaspence/trakio-ruby

          .project
            .actions
              %a.btn.btn-xs.btn-default{ href: 'https://github.com/msaspence/trak.io.js', target: '_blank' }
                %i.icon.icon-github
                %span.sr-only.text Trakio JavaScript Client's Source Code
            %h4 Trakio JavaScript Client
            %p.description A JavaScript client for Trakio's API.
            .url.print-only
              %i.icon.icon-github
              github.com/msaspence/trak.io.js

          .project
            .actions
              %a.btn.btn-xs.btn-default{ href: 'http://flickrfeed.msaspence.com', target: '_blank' }
                %i.icon.icon-external-link
                %span.sr-only.text Flickr Feed Demo
              %a.btn.btn-xs.btn-default{ href: 'https://github.com/msaspence/flickrfeed', target: '_blank' }
                %i.icon.icon-github
                %span.sr-only.text Flickr Feed Client's Source Code
            %h4 Flickr Feed
            %p.description A Demonstration of a React App, consuming Flickrs API
            .url.print-only
              %i.icon.icon-github
              github.com/msaspence/flickrfeed
            .url.print-only
              %i.icon.icon-external-link
              flickrfeed.msaspence.com

          .project
            .actions
              %a.btn.btn-xs.btn-default{ href: 'https://github.com/msaspence/activated_ui', target: '_blank' }
                %i.icon.icon-github
                %span.sr-only.text ActivatedUI's Source Code
            %h4 ActivatedUI Gem
            %p.description A Ruby Gem for managing the state of HTML based interfaces.
            .url.print-only
              %i.icon.icon-github
              github.com/msaspence/activated_ui

          .project
            .actions
              %a.btn.btn-xs.btn-default{ href: 'https://github.com/msaspence/msaspence.com', target: '_blank' }
                %i.icon.icon-github
                %span.sr-only.text This Website's Source Code
            %h4 This Website
            %p.description
              Aside from the content and some snazzy responsive design, there are some jekyll plugins to allow for HAML, Less and live reload.
            .url.print-only
              %i.icon.icon-github
              github.com/msaspence/msaspence.com

        .skills

          %h3 Technical Skills

          .skill.product
            %h4 Product Design, Project Management, UX
            .progress.full
              .progress-bar{ style: 'width: 100%', role: 'progressbar', aria: { valuenow: '100', valuemin: '0', valuemax: '100' } }
                .sr-only This is my jam

          .skill.javascript
            %h4 JavaScript, React, Redux, Less, CSS
            .progress
              .progress-bar{ style: 'width: 100%', role: 'progressbar', aria: { valuenow: '90', valuemin: '0', valuemax: '100' } }
                .sr-only Highly Proficient

          .skill.ruby
            %h4 Ruby, Rails, Sinatra
            .progress.full
              .progress-bar{ style: 'width: 100%', role: 'progressbar', aria: { valuenow: '100', valuemin: '0', valuemax: '100' } }
                .sr-only This is my jam

          .skill.php
            %h4 MongoDB, PostgreSQL, RabbitMQ
            .progress
              .progress-bar{ style: 'width: 80%', role: 'progressbar', aria: { valuenow: '80', valuemin: '0', valuemax: '100' } }
                .sr-only Highly Proficient


          .skill.php
            %h4 Photoshop, Design
            .progress
              .progress-bar{ style: 'width: 70%', role: 'progressbar', aria: { valuenow: '70', valuemin: '0', valuemax: '100' } }
                .sr-only Very Proficient

          .skill.chef
            %h4 Chef, Capistrano, DevOps, HAProxy
            .progress
              .progress-bar{ style: 'width: 50%', role: 'progressbar', aria: { valuenow: '60', valuemin: '0', valuemax: '100' } }
                .sr-only Moderately Proficient

          .skill.nodejs
            %h4 C#, Go
            .progress
              .progress-bar{ style: 'width: 20%', role: 'progressbar', aria: { valuenow: '20', valuemin: '0', valuemax: '100' } }
                .sr-only Just getting started

      .col-md-12.col-sm-6
        .other-interests

          %h3 Other Interests
          %p
            I understand the importance of a balanced lifestyle, and have many interests beyond software development, here are a few:

          %h4 Learning Spanish
          %p
            My girl friend is Mexican American and as part of an effort to learn about her heritage and culture I am learning Spanish. Apparently I need to be fluent before we have children!

          %h4 Keeping Fit
          %p
            Last year I hit my target of a combined 1000lbs total across, bench press, dead lift and back squat. I'm now working towards rowing a marathon.

          %h4 Lacrosse
          %p
            I'm a casual lacrosse player to say the least, but for what I need: some where to blow off some steam and relax, it is perfect.

          %h4 Snow sports
          %p
            I'm a proficient skier and a distinctly average boarder, I try to get a week on the snow in at least once a year.
