---
layout: default
---

%h1 The Online Resume of Matthew Spence

.statement.up-front
  %p Accomplished Frontend Software Engineer &amp; Engineering Manager with over two decades of experience in driving high-performance product teams &amp; delivering robust software solutions. Proven track record in scaling teams, optimizing development practices, &amp; generating substantial revenue growth across multiple industries.
  %p Originally from the UK, I now live in San Diego CA with full permanent US residency.
.row
  .col-md-8

    -# .advert
    -#   %h3 Looking For New Opportunities
    -#   %h4 I'm currently available for contract &amp; full time roles
 
    .timeline

      .event.employment.novata
        %img.avatar{ src: '/img/novata.png'}
        %h4 
          Senior Engineering Manager: Companies
          %small.dates June 2024
          %br

          Lead Full Stack Engineer: Carbon
          %small.dates June 2023
          %br

          Lead Front End Engineer
          %small.dates October 2021
          %br
        %h3
          Novata
          %small.dates October 2021 - Apr 2025

        .responsibilities

          %h5 Achievements

          %p Joined as <strong>founding engineer #1</strong>. Established the product &amp; engineering team, &amp; was instrumental in <strong>scaling it to 50 people</strong> in the first year.
          -#  Implemented <strong>robust security practices</strong> including <strong>SOC 2 compliance protocols &amp; data encryption standards</strong>, essential for handling sensitive ESG data from private equity firms.
          
          %ul.strong
            %li <strong>Eight figure annual recurring revenue</strong>
            %li <strong>10,000+ companies  submitting ESG data</strong>
            %li <strong>87% report completion rate</strong>
            %li <strong>$12 trillion of assets under management</strong> represented amongst our private investor customers
            %li <strong>$50 million+ in investment</strong> to date

          %p Selected to lead an entirely new product line providing carbon calculation &amp; emissions data for private companies. I built a new team &amp; product that delivered <strong>7 figure annual recurring revenue in its first year of launch</strong>.

          -# %p Architected a modular front end application with component &amp; SDK libraries to enable <strong>concurrent development across multiple teams</strong>. This architecture allowed for efficient collaboration between squads, reduced code duplication by 24%, &amp; established clear interfaces between domains. The design facilitated <strong>parallel work streams</strong> while maintaining consistency throughout the application &amp; significantly <strong>reduced integration friction</strong> between teams.

          -# %p <strong>Promoted to engineering manager of "Novata for Companies",</strong> oversaw a number of squads including carbon calculation, regulations &amp; private companies.

          %p Implemented component library prioritizing <strong>WCAG, accessibility, performance &amp; developer experience</strong>. This library was used across the company, &amp; was instrumental in <strong>reducing the time to build new features by 30%</strong>, and facilitating a high performance SPA.

          %p Drove AI adoption with <strong>integration of 3rd party AI APIs, &amp; both foundation &amp; in house models</strong> designed to streamline user workflows &amp; reduce friction in the data collection process. Achieving:

          %ul
            %li <strong>Improved carbon calculation accuracy by 30%</strong> by using AI to better match emissions factors. 
            %li <strong>Reduced data entry time up to 50%</strong> by automating parts of the data collection process.

          %h5 Responsibilities

          %p Lead cross functional product engineering teams to rapidly deliver viable products from scratch. Oversee delivery from concept to launch &amp; beyond. Manage &amp; mentor software engineers &amp; engineering managers, ensuring efficiency &amp; quality across the team. 


          .skills
            %h5 Skills &amp; Technologies
            %ul
              %li TypeScript
              %li React
              %li Express
              %li Node.js
              %li Prisma
              %li PostgreSQL
              %li Redis
              %li Docker
              %li Kubernetes 
              %li AWS
              %li Git
              %li AI
              %li Product Design
              %li Slack
              %li Jira
              %li REST APIs
              %li Vite
              %li logging
              %li monitoring
              %li GitHub Actions
              %li accessibility
              %li Next.js
              %li profiling
              %li Figma
              %li SPA
              %li remote

      .event.employment.fof
        %img.avatar{ src: '/img/fof.png'}
        %h4 CTO, COO &amp; Cofounder
        %h3
          Friends or Friends
          %small.dates January 2021 - September 2021

        .responsibilities

          %h5 Achievements
          %p Delivered bespoke software to meet the legal requirements for the distribution of plants. 
          
          %ul
            %li Satisfied <strong>strict statutory requirements</strong> for the distribution of plants
            %li <strong>100% reduction in fulfillment costs</strong>  
            %li <strong>Industry leading dispatch times &amp; 5&bigstar; customer satisfaction</strong> (<a href="https://www.trustpilot.com/review/friendsorfriends.com" target="_blank">trustpilot.com</a>, <a href="https://www.reviews.co.uk/company-reviews/store/friendsorfriends.com" target="_blank">reviews.io</a>)

          %p Created packaging, fulfillment &amp; support processes for delicate/semi-perishable products. Built a consumer focused ecommerce fulfillment team with specialist skills around the care &amp; dispatch of live plants from scratch. Bootstrapped everything with <strong>no outside investment, growing it to $75K in monthly revenue</strong>. Procured &amp; out fitted a warehouse space optimized for the business's operations.

          %p Relentless focus on page performance and SEO to maximize traffic and conversion rates. Leveraged Google Lighthouse and profilers to ensure the site was <strong>fast, accessible &amp; SEO optimized</strong>. 

          %p This was a role where I had to step entirely outside of software engineering &amp; tested my ability to creatively solve problems in an unfamiliar environment. It was invaluable in the development of my <strong>ability to think outside the box</strong> &amp; <strong>pragmatically solve complex problems</strong> in a novel domain.

          %h5 Responsibilities

          %p Establishing operations &amp; providing all necessary technical solutions. Sourcing and/or implementing software to facilitate marking, sales, operations, &amp; customer support, quickly &amp; efficiently, with minimal cost.

          %p Additionally everything &amp; anything required getting a bootstrapped start up ecommerce store off the ground. This truly was a many hats role, &amp; at times included stepping well out my comfort zone into areas such as marketing, sales, customer support &amp; plant care. 

          .skills
            %h5 Skills &amp; Technologies
            %ul
              %li JavaScript
              %li PostgreSQL
              %li React
              %li Redux
              %li Ruby
              %li Ruby on Rails
              %li Heroku
              %li Git
              %li Product Design
              %li Ship Station
              %li Shopify
              %li Slack
              %li REST APIs
              %li HTTP
              %li SSR
              %li SEO
              %li Google Analytics
              %li A/B Testing
              %li Google Lighthouse
              %li hybrid

      .event.employment.groove
        %img.avatar{ src: '/img/groove.png'}
        %h4 
          %h4 

            Lead Full Stack Engineer: Integrations
            %small.dates Apr 2020
            %br

            Lead Full Stack Engineer: Analytics
            %small.dates Mar 2018
            %br

            Staff Full Stack Software Engineer
            %small.dates Feb 2017
            %br
        
        %h3
          Groove
          %small.dates Feb 2017 - May 2021

        .responsibilities

          %h5 Achievements

          %p Using a mixture of an off the shelf event streaming platform (keen.io), augmented with a bespoke in house system built on Elastic Search, we were able to <strong>deliver a powerful reporting product quickly &amp; efficiently</strong>. This hybrid approach meant our solution <strong>wasn't confined by the limitations</strong> of the 3rd party product but was still <strong>able to leverage many of its benefits</strong>.

          %p Utilized a number of existing systems already in place to create a highly resilient data collection endpoint that boasted <strong>99.99% uptime</strong>.

          %h5 Responsibilities

          %p Plan &amp; execute architecture, &amp; end-to-end implementation of the company's customer facing analytics &amp; reports product. Ensuring quality of work for contributing engineers assigned to the analytics team. Liaise &amp; coordinate with other teams, specifically system administrators, &amp; Head of Engineering. Define &amp; outline product requirements &amp; vision with Head of Product. 

          
          %p Groove is a fully remote team distributed across several timezones. This role required a high level of autonomy solving complex problems alone when other team members were simply offline. Equally it required planning &amp; collaboration with a number of teams &amp; individuals spread across said timezones.

          .skills
            %h5 Skills &amp; Technologies
            %ul
              %li JavaScript
              %li Docusaurus
              %li MySQL
              %li ElasticSearch
              %li Kafka
              %li React
              %li Redux
              %li Ruby
              %li Ruby on Rails
              %li Sidekiq
              %li AWS
              %li Git
              %li TDD
              %li jQuery
              %li Emotion
              %li User Experience
              %li Product Design
              %li Code Review
              %li Trello
              %li Slack
              %li REST APIs
              %li GraphQL
              %li HTTP
              %li Webpack
              %li profiling
              %li SPA
              %li remote

      .event.employment.hx
        %img.avatar{ src: '/img/hx.png'}
        %h4 Staff Full Stack Software Engineer
        %h3
          Holiday Extras
          %small.dates Dec 2015 - Feb 2017

        .responsibilities
          %h5 Achievements

          %p Delivered to market from scratch an optimized post checkout trip planner that <strong>increased average customer lifetime value by 21%</strong>. Provided a mix of personalized free content &amp; tools along with time sensitive product suggestions to lift per trip spend on our platform.

          %h5 Responsibilities

          %p Produce bug free, future proofed code, setting the standard by which others developers work. Translate the needs of the business into solutions. Working to &amp; on the company values, the team standards &amp; best practices.

          %p Identify, react quickly &amp; take ownership of any serious problems with quality. Improve the performance &amp; development of the team. Sharing &amp; supporting individuals by helping create team processes, following them &amp; enforcing their use by others. Identify technical potential in others &amp; work with them to improve.

          
          .more-details

            %p Staying abreast of what’s going on in the industry &amp; using this to improve skills and/or the skills of others. Working on a range of systems &amp; constantly update any gaps in knowledge.


            %p Work closely with the leaders of the business &amp; external contacts. Communicate well, be supportive, flexible &amp; take a balanced view between tech &amp; business need. Create constructive &amp; positive debate around solution creation. Foresee &amp; tactfully explain the risks involved, presenting solutions where necessary.

            

          .actions
            %a.more{ href: '#' } More Details

          .skills
            %h5 Skills &amp; Technologies
            %ul
              %li JavaScript
              %li React
              %li Backbone
              %li Redux
              %li Ruby
              %li Rails
              %li AWS
              %li Git
              %li TDD/BDD
              %li CoffeeScript
              %li jQuery
              %li Less/CSS
              %li Scrum
              %li Pods
              %li User Experience
              %li Product Design
              %li Code Review
              %li Jira
              %li Slack
              %li Pair Programming
              %li Jenkins
              %li REST APIs
              %li GraphQL
              %li HTTP
              %li Webpack
              %li remote

      .event.employment.trakio
        %img.avatar{ src: '/img/trakio.png'}
        %h4 CTO &amp; Technical Cofounder
        %h3
          Trakio
          %small.dates Apr 2013 - Dec 2015

        .responsibilities
          %h5 Achievements &amp; Responsibilities
          %p
            Driving our customers' activation &amp; reduce churn by understanding their users better. Executed a number of pivots searching for a repeatable &amp; scalable business model. Each time creating hypotheses &amp; testing them.

          %p
            As the CTO I was responsible for planning, building, managing, &amp; documenting several production services &amp; client libraries from scratch. I implemented the provisioning of our hardware infrastructure on AWS using Chef, along with service monitoring &amp; redundancy, having had no previous experience of SysAdmin. I recruited &amp; managed all our technical employees &amp; contractors, managing their on boarding, training, &amp; providing direction &amp; mentorship for their personal development. Utilizing online tools to collaborate remotely, often across timezones.

        .more-details

          %p
            Working on Trakio has been the single most informative period of my life. Coming to San Francisco, interviewing for YC, taking part in the Alchemist Accelerator, experiencing nacho "cheese", the people I have met, the lessons I have learned. It has been eye opening to say the least.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li Ruby
            %li Rails
            %li Sinatra
            %li Sneakers
            %li OAuth
            %li MongoDB
            %li WebSockets
            %li RabbitMQ
            %li Redundancy
            %li HAProxy
            %li Nginx
            %li Monit
            %li Capistrano
            %li Chef
            %li AWS
            %li Git
            %li TDD/BDD
            %li JavaScript
            %li CoffeeScript
            %li D3
            %li Load Testing
            %li Highcharts
            %li jQuery
            %li Less/CSS
            %li Photoshop
            %li Application Design
            %li User Experience
            %li Product Design
            %li Infrastructure Design
            %li Technical Support
            %li Code Review
            %li Trello
            %li Slack
            %li Pair Programming
            %li REST APIs
            %li HTTP
            %li remote


      .event.employment.virally.dont-print
        %img.avatar{ src: '/img/virally.png'}
        %h4 CTO &amp; Technical Cofounder
        %h3
          Virally
          %small.dates Jun 2012 - Apr 2013

        .responsibilities
          %h5 Achievements &amp; Responsibilities
          %p
            I conceived &amp; delivered a working prototype as a proof of concept inside of two weeks. I led &amp; managed the team that then fleshed this concept into an off the shelf solution to generate &amp; manage leads from long form content marketing. The product we built enabled customers to achieve conversion rate increases of 122-200%, &amp; secured us a 6 month up front contract with GFK.

        .more-details
          %p
            While at Fruitbowl, a client came to us with a problem. We immediately saw the resell value in the solution &amp; spun it out into its own startup: Virally, a lead generation tool for companies with downloadable content marketing. It uses social network authentication to easily &amp; seamlessly submit users' details in return for valuable downloadable content.

          %p
            My cofounder &amp; I realized it was heading in a direction that we weren't passionate about, &amp; had limited long term sustainability issues with increased public awareness around privacy &amp; personal data. We both sold our stake in Virally to our investors to start Trakio.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li Ruby
            %li Rails
            %li JavaScript
            %li jQuery
            %li Less/CSS
            %li PostgreSQL
            %li Heroku
            %li CDN
            %li Git
            %li Social Auth
            %li TDD/BDD
            %li Product Design
            %li Lean Startup
            %li Trello
            %li REST APIs
            %li HTTP
            %li remote


      .event.employment.fruitbowl.dont-print
        %img.avatar{ src: '/img/fruitbowl.png'}
        %h4 Senior Consultant &amp; Lead Developer
        %h3
          Fruitbowl Media
          %small.dates Mar 2012 - Aug 2012

        .responsibilities
          %h5 Achievements &amp; Responsibilities
          %p
            I increased the size &amp; breadth of the company's portfolio by adding more advanced web application work. I built a team capable of delivering this more complex work by recruiting an additional designer &amp; developer, &amp; training existing staff.

        .more-details
          %p
            I started working with Fruitbowl Media as a freelancer in November 2011, &amp; it wasn't long before they asked me to join them full time as lead developer, to expand their current bread &amp; butter of static marketing sites toward larger web application projects.

          %p
            I wasn't at Fruitbowl long before we decided to spin out one such project we were working on with a client into its own fledgling company.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li PHP
            %li Wordpress
            %li HAML/HTML
            %li JavaScript
            %li jQuery
            %li CSS/Less
            %li Photoshop
            %li MySQL
            %li PostgreSQL
            %li TDD/BDD
            %li Git
            %li Account Management
            %li Project Management
            %li Trello
            %li REST APIs
            %li HTTP
            %li hybrid


      .event.employment.kent.dont-print
        %img.avatar{ src: '/img/kent.png'}
        %h4 Web Developer
        %h3
          University of Kent - Web Development Team
          %small.dates Nov 2007 - Mar 2012

        .responsibilities
          %h5 Achievements &amp; Responsibilities
          %p
            I built &amp; maintained several key systems including the University's password reset system, on boarding for new students &amp; online maps. I successfully managed the implementation &amp; launch of the University's student fee gateway by a 3rd party vendor, a service that processes tens of millions of dollars worth of tuition each year. I oversaw the transition of the main marketing site's web framework, a key component of the University's web presence, to this team. I led the adoption of agile processes, working to refine a scrum based process that allowed us to be an agile team within a slow &amp; bureaucratic department. I implemented &amp; consulted on several user experience improvements across various teams &amp; services which contributed to a raise in our student satisfaction rating, the key performance metric for our department.

        .more-details

          %p
            After graduating I moved from my part time roll into a full time position, &amp; switched to a team that was responsible for many of the University's online web applications.

          %p
            I am most proud of the transition the team made during the time that I worked there, &amp; my contribution to that transition. When I started we were a poorly performing team with very little coherence, struggling to deal with the bureaucracy of the wider organization. By the time I left we had implemented continuous improvement &amp; evolved our own flavor of agile scrum that allowed us to function most effectively given the constraints of the environment in which we operated.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li Apache
            %li PHP
            %li Symfony
            %li Drupal
            %li MySQL
            %li HTML
            %li XML
            %li XSLT
            %li CSS
            %li JavaScript
            %li jQuery
            %li Photoshop
            %li Wireframing
            %li Application Design
            %li User Experience
            %li User Testing
            %li Load Testing
            %li TDD/BDD
            %li Agile
            %li Scrum
            %li Sharepoint
            %li Project Management
            %li SOAP
            %li REST APIs
            %li HTTP
            %li hybrid

      .event.employment.kent-junior.dont-print
        %img.avatar{ src: '/img/kent.png'}
        %h4 Web Developer/Designer
        %h3
          University of Kent - Departmental Web Support Team
          %small.dates Nov 2005 - Nov 2007

        .responsibilities
          %h5 Achievements &amp; Responsibilities
          %p
            I lead the work of translating an established print based design &amp; branding to the web for use across a range of uses &amp; departments. I implemented that design into a flexible PHP/CSS based template that was successfully rolled out across dozens of departments &amp; publishers managing content on <a href="https://www.kent.ac.uk" target="_blank">https://www.kent.ac.uk</a>. I successfully project managed the adoption of site template upgrades for several large departments, &amp; account managed several others. I was promoted twice during my two years in this team.

        .more-details

          %p
            Given how long I'd been experimenting with web technologies for, my university studies did little to challenge me &amp; so I found a part time job for the University as a designer/developer in their fledgling Departmental Web Support Team. We worked with departmental web teams to deliver their web sites under a consistent brand.

          %p
            Early on I was given the opportunity to work on creating a standardized template that could be used across the large number of academic &amp; nonacademic departments. I was the main designer &amp; developer on the first 3 generations of this centralized template. &amp; contributed to later versions of the framework as a senior developer as part of a larger team.

          %p
            I progressed within the team, starting as a part time junior designer to working full time hours as a senior designer/developer. As a senior, I was responsible for mentoring &amp; supervising junior staff &amp; project managing the development of departmental web projects.

          %p
            Over the years that I worked on the system we evolved it into to a PHP framework that allowed departmental editors to write HTML in Dreamweaver as they were used to. We would post process their HTML to build advanced dynamic UI elements that would not otherwise be possible with Dreamweaver alone.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li Photoshop
            %li Dreamweaver
            %li Apache
            %li PHP
            %li MySQL
            %li HTML
            %li CSS
            %li SVN
            %li Application Design
            %li Wireframing
            %li Customer Support
            %li Account Management
            %li Project Management
            %li Training
            %li hybrid


      .event.education.dont-print
        %img.avatar{ src: '/img/kent.png'}
        %h4 University of Kent
        %h3
          Multimedia Design &amp; Technology BSc
          %small.dates Sept 2004 - July 2007

        %p.summary
          A course that can be described as computer science with an emphasis on graphic design &amp; web technologies. It perfectly suited my interests in both the aesthetic design, &amp; the underlying programming of software.

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li Graphic Design
            %li Photography
            %li Computer Architecture
            %li C++
            %li Java
            %li HTML
            %li CSS
            %li JavaScript
            %li .Net
            %li 3D Animation
            %li Flash Animation
            %li Flash

      .event.hacking.dont-print
        %img.avatar{ src: '/img/rhs.png'}
        %h4 Macromedia Flash
        %h3
          Nelson's Leavers Interactive Yearbook
          %small.dates Academic Year 2003/04

        %p.summary
          An interactive Flash application presented on a DVD data disk. With farewell messages, photo galleries, videos &amp; easter eggs. Developed &amp; produced during my last year of high school, mostly for the love of it, but with a nice little profit at the end.

        .more-details
          %p
            The web back then wasn't what it is now, &amp; I was frustrated with the limited interactivity of web pages, so I turned to the only place there was to turn in 2003: Macromedia Flash!

          %p
            Along with two like minded friends we finished the project on time &amp; made ourselves some beer money for the summer. Most importantly though, I learned things that were far more valuable given my future in software engineering than anything I learnt in class.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %ul
            %li Flash
            %li ActionScript
            %li Photoshop
            %li Video Editing


      .event.hacking.dont-print
        %img.avatar{ src: '/img/flashpoint.png'}
        %h4 I Catch the Programming Bug
        %h3
          Operation Flashpoint Released
          %small.dates Summer 2001

        %p.summary
          Writing custom mission scripts for Operation Flashpoint was what first really got me into programming. I probably would have found my calling with out this game but even so I owe a lot to it for first igniting my passion for programming.

        .more-details
          %p
            When I purchased a copy of Operation Flashpoint it was as "just another game" but when I discovered the scriptable mission editor I was hooked. I'd used PHP before but only as a templating language, this was something else entirely. I could make characters move across the virtual map engaging each other at my whim, I was hooked!

          %p
            From here I started exploring more &amp; more of the potential of PHP as a programming language. Building the foundation for a passion for making things, which is as strong today as ever.

        .actions
          %a.more{ href: '#' } More Details

      .event.education.dont-print.rhs
        %img.avatar{ src: '/img/rhs.png'}
        %h4 Royal Hospital School
        %h3
          GCSEs &amp; A Levels (UK High School)
          %small.dates Sept 1997 - July 2004

        %p.summary
          My high school education lacked any formal programming education but that didn't stop me learning. I spent a lot of (my teachers will say too much) time tinkering away on my own web projects.

        .more-details

          %p
            The Royal Hospital School, is an income assessed private boarding school with a strong naval tradition. Boarding with boys &amp; girls from a wide range of backgrounds has given me many insights &amp; oppotunities I simply would not have had access to at any other school.

          %p
            Extra curricular activities like the Combined Cadet Force &amp; the Duke of Edinburgh Award have provided me with the skills &amp; resilience to prepare &amp; deal with most of what life has had to throw at me.

          %p
            Boarding from the early age of 12 &amp; being away from my family has meant that from an early age I have had the self discipline &amp; independence to work well on my own. Whilst the comradery &amp; nature of boarding have instilled a great appreciation for working as part of a team.

        .actions
          %a.more{ href: '#' } More Details

        .skills
          %h5 A Levels
          %ul
            %li Business
            %li Physics
            %li Maths
            %li Politics

          %h5 GCSEs
          %ul
            %li English Literature
            %li English Language
            %li Maths
            %li Double Science
            %li Geography
            %li History
            %li Maths
            %li French


      .event.hacking.dont-print
        %img.avatar{ src: '/img/hotmetal.png'}
        %h4 Thanks to my Uncle
        %h3
          My First HTML editor
          %small.dates Summer 1997

        %h5
          HotMetal PRO first starts my love affair with computers &amp; the web

        %p
          I've been playing around with the web since my Uncle gave me a web development magazine with a free version of HotMetal PRO on the accompanying demo disc (in the days when demo discs were still a thing). This introduced me to the thrilling world of marques, frames &amp; animated GIF buttons.

        .skills
          %h5 Skills &amp; Technologies
          %ul
            %li HTML
            %li CSS
            %li PHP
            %li Awesome Animated GIFs
            %li Including but not limited to "Under Construction" workmen

  .col-md-4

    .row-fluid.side-bar

      .col-md-12.col-sm-6
        .statement.side-bar
          %h3 Who I Am?
          %p Accomplished Frontend Software Engineer &amp; Engineering Manager with over two decades of experience in driving high-performance product teams &amp; delivering robust software solutions. Proven track record in scaling teams, optimizing development practices, &amp; generating substantial revenue growth across multiple industries.
          %p Originally from the UK, I now live in San Diego CA with full permanent US residency.  
        .experience
          %h3 Experience
          %ul
            %li 
              .area Web Application Development
              .time 20+&nbsp;years
              .to-ai More than 20 years of experience in building web applications.
            %li
              .area Scrum &amp; Agile methodologies
              .time 13+&nbsp;years
              .to-ai More than 13 years of experience in Scrum &amp; Agile methodologies.
            %li
              .area Leading remote teams
              .time 10+&nbsp;years
              .to-ai More than 10 years of experience in leading remote teams.
            %li
              .area Start ups (as founder &amp; employee)
              .time 10+&nbsp;years
              .to-ai More than 10 years of experience in start ups (as founder &amp; employee).
            %li
              .area TypeScript &amp; React
              .time 9+&nbsp;years
              .to-ai More than 9 years of experience in TypeScript &amp; React.
            %li
              .area Ruby &amp; Rails
              .time 9+&nbsp;years
              .to-ai More than 9 years of experience in Ruby &amp; Rails.
            %li 
              .area AI Tools &amp; APIs 
              .time 1+ year
              .to-ai More than 1 year of experience in AI Tools &amp; APIs.
              

            %li.education
              .area Highest level of education
              .time Multimedia Design & Technology BSc
          
        .medium-posts
          %h3 Popular Posts
          %ul.posts
            %li
              %a{ href: 'https://medium.com/itnext/you-dont-need-microservices-2ad8508b9e27', target: '_blank' }
                You Don't Need Microservices
              .stats
                .date Jul 27, 2022
                .icon.fa-solid.fa-hands 
                1K
                .icon.fa-solid.fa-comments
                37

            %li
              %a{ href: 'https://medium.com/@msaspence/how-do-i-deal-with-underperforming-engineers-b1079383f918', target: '_blank' }
                How Do I Deal With Underperforming Engineers?
              .stats
                .date Apr 21, 2022
                .icon.fa-solid.fa-hands 
                885
                .icon.fa-solid.fa-comments
                12
            
            %li
              %a{ href: 'https://medium.com/@msaspence/undefensive-code-review-a0f1fa9081a2', target: '_blank' }
                Undefensive Code Review

              .stats
                .date Jun 27, 2022
                .icon.fa-solid.fa-hands 
                155
                .icon.fa-solid.fa-comments
                1


        .projects

          %h3 Example Code

          
          .project
            %a.title{ href: 'https://github.com/msaspence/ts-rest-mock', target: '_blank' }
              .icon.fa-brands.fa-github.dont-print
              ts-rest-mock
            %p.description A Typescript library for automatically mocking HTTP requests based on their contract schemas. 
            %a.url.print-only{ href: 'https://github.com/msaspence/ts-rest-mock', target: '_blank' }
              %i.icon.fa-brands.fa-github
              .text github.com/msaspence/ts-rest-mock
          
          .project
            %a.title.has-tooltip{ href: 'mailto:msaspence@gmail.com?subject=Can%20I%20get%20access%20to%20PlantPassporter%20source%20code', target: '_blank', title: "Access available upon request" }
              .icon.fa-regular.fa-envelope.dont-print
              PlantPassporter
            %p.description A Ruby on Rails & React app for the required documenation for distributing live plants within the UK.
            %a.url.print-only{ href: 'mailto:msaspence@gmail.com?subject=Can%20I%20get%20access%20to%20PlantPassporter%20source%20code', target: '_blank', title: "Access available upon request" }
              %i.icon.fa-regular.fa-envelope
              .text Access available upon request

          .project
            %a.title{ href: 'https://github.com/msaspence/trakio-ruby', target: '_blank' }
              .icon.fa-brands.fa-github.dont-print
              Trakio Ruby Client
            %p.description A Ruby Gem for Trakio's API.
            %a.url.print-only{ href: 'https://github.com/msaspence/trakio-ruby', target: '_blank' }
              %i.icon.fa-brands.fa-github
              .text github.com/msaspence/trakio-ruby

          .project
            %a.title{ href: 'https://github.com/msaspence/trak.io.js', target: '_blank' }
              .icon.fa-brands.fa-github.dont-print
              Trakio JavaScript Client
            %p.description A JavaScript client for Trakio's API.
            %a.url.print-only{ href: 'https://github.com/msaspence/trak.io.js', target: '_blank' }
              %i.icon.fa-brands.fa-github
              .text github.com/msaspence/trak.io.js

          .project
            %a.title{ href: 'https://github.com/msaspence/msaspence.com', target: '_blank' }
              .icon.fa-brands.fa-github.dont-print
              This Website
            %p.description
              Not technologies I'd use if I was starting today. But I'm a pragmatist at heart &amp; if it aint broke don't fix it.
            %a.url.print-only{ href: 'https://github.com/msaspence/msaspence.com', target: '_blank' }
              %i.icon.fa-brands.fa-github
              .text github.com/msaspence/msaspence.com

        .skills

          %h3 Relative Strengths

          .skill.javascript
            %h4 Typescript, React
            .progress
              .progress-bar{ style: 'width: 100%', role: 'progressbar', aria: { valuenow: '90', valuemin: '0', valuemax: '100' } }
                .sr-only This is my jam

          .skill.ruby
            %h4 Ruby, Rails, Node.js
            .progress
              .progress-bar{ style: 'width: 90%', role: 'progressbar', aria: { valuenow: '100', valuemin: '0', valuemax: '100' } }
                .sr-only This is my jam


          .skill.product
            %h4 Product Design, Project Management, UX
            .progress
              .progress-bar{ style: 'width: 70%', role: 'progressbar', aria: { valuenow: '100', valuemin: '0', valuemax: '100' } }
                .sr-only Highly Proficient

          .skill.php
            %h4 PostgreSQL, MySQL, MongoDB
            .progress
              .progress-bar{ style: 'width: 70%', role: 'progressbar', aria: { valuenow: '80', valuemin: '0', valuemax: '100' } }
                .sr-only Highly Proficient


          .skill.chef
            %h4 AWS, DevOps, Kafka, ElasticSearch
            .progress
              .progress-bar{ style: 'width: 50%', role: 'progressbar', aria: { valuenow: '50', valuemin: '0', valuemax: '100' } }
                .sr-only Moderately Proficient
          
          .skill.php
            %h4 Photoshop, Design, Sketch
            .progress
              .progress-bar{ style: 'width: 30%', role: 'progressbar', aria: { valuenow: '40', valuemin: '0', valuemax: '100' } }
                .sr-only Very Proficient

      .col-md-12.col-sm-6
        .other-interests

          %h3 Other Interests
          %p
            I understand the importance of a balanced lifestyle, &amp; have many interests beyond software development. Here's how I like to recharge:

          %h4 Being a Dad
          %p
            I say being a Dad but really I mean vicariously reliving my childhood, going to scouts &amp; playing Lego.

          %h4 Building Models
          %p
            At my core I like to build things, building software is incredibly rewarding but sometimes it's nice to work on something physical.

          %h4 Hiking &amp; Bouldering
          %p
            I love being outside &amp; away from the city. Southern California has so much to offer close by &amp; I'm just starting to scratch the surface.

          %h4 Snow sports
          %p
            I'm a proficient skier &amp; a distinctly average boarder. California wasn't the best move for snow sports but one day I'll make it back to the slopes.
    
        .condensed-previous-roles.condensed.employment.print-only
          %img.avatar{ src: '/img/kent.png'}
          %img.avatar{ src: '/img/fruitbowl.png'}
          %img.avatar{ src: '/img/virally.png'}
          
          %h2 Other Previous Roles
          %h4 CTO &amp; Technical Cofounder
          %h3
            Virally
            %small.dates Jun 2012 - Apr 2013

          %h4 Senior Consultant &amp; Lead Developer
          %h3
            Fruitbowl Media
            %small.dates Mar 2012 - Aug 2012

          %h4 Web Developer
          %h3
            University of Kent - Web Development Team
            %small.dates Nov 2007 - Mar 2012
        

        .condensed-education.condensed.education.print-only
          %img.avatar{ src: '/img/rhs.png'}
          %img.avatar{ src: '/img/kent.png'}
          %h2 Education
          %h4 University of Kent
          %h3
            Multimedia Design &amp; Technology BSc
            %small.dates Sept 2004 - July 2007
          %h4 Royal Hospital School
          %h3
            GCSEs &amp; A Levels (UK High School)
            %small.dates Sept 1997 - July 2004
          .skills
            %h5 A Levels
            %ul
              %li Business
              %li Physics
              %li Maths
              %li Politics
            %h5 GCSEs
            %ul
              %li English Literature
              %li English Language
              %li Maths
              %li Double Science
              %li Geography
              %li History
              %li Maths
              %li French