%footer
  %p
    I'm glad you made it to the bottom, I've don't have much to add at this point, all the important stuff was at the top.
    %br
    Alas though a web site with out a footer seems like a dog without a tail, so here we are!

  %p
    Incidently, just in case it's important: I am a dog person.
