%header

  %h4 The online resume of Matthew Spence

  %img.avatar{ src: '/img/avatar.jpg' }

  .title
    %h2
      %a{ href: '/' } Matthew Spence
    %h3
      %a{ href: '/' } Full Stack Engineer
    
    %h4
      %a{ href: '/' } With a passion and interest for product and UX


  .actions-and-profiles

    .profiles
      .profile
        %h5
          %i.icon.fa-brands.fa-github
          %span.text Github:
        %a{ href: 'https://github.com/msaspence', target: '_blank' }
          %i.icon.fa-brands.fa-github
          %span.text /msaspence
      
      .profile
        %h5
          %i.icon.fa-brands.fa-linkedin
          %span.text LinkedIn:
        %a{ href: 'https://linkedin.com/in/msaspence'}
          %i.icon.fa-brands.fa-linkedin
          %span.text /msaspence
      

      .profile.print-only
        %h5
          %i.icon.fa-solid.fa-globe
          %span.text Website:
        %a{ href: 'http://msaspence.com' }
          %i.icon.fa-solid.fa-globe
          %span.text msaspence.com
      .profile
        %h5
          %i.icon.fa-regular.fa-envelope
          %span.text Email:
        %a{ href: 'mailto:msaspence@gmail.com'}
          %i.icon.fa-regular.fa-envelope
          %span.text msaspence@gmail.com

  
    .fill
    .actions
      %a.has-tooltip.btn.btn-default{ href: '/Matthew Spence Resume.pdf', title: 'Download a two page summary.' }
        %i.icon.fa-solid.fa-cloud-download 

        %span.text Download
      %a.has-tooltip#btn-print.btn.btn-default{ href: '#', title: "Print a two page summary." }
        %i.icon.fa-solid.fa-print 
        %span.text Print
