%header

  %h4 The online resume of Matthew Spence

  %img.avatar{ src: '/img/avatar.jpg' }

  .title
    %h2
      %a{ href: '/' } Matthew Spence
    %h3
      %a{ href: '/' } Full Stack Engineer


  .actions-and-profiles
    .actions
      %a.has-tooltip.btn.btn-default{ href: '/Matthew Spence Resume.pdf', title: 'Download a two page summary.' }
        %i.icon.icon-fw.icon-cloud-download
        %span.text Download
      %a.has-tooltip#btn-print.btn.btn-default{ href: '#', title: "Print a two page summary." }
        %i.icon.icon-fw.icon-print
        %span.text Print


    .profiles
      .profile
        %h5
          %i.icon.icon-fw.icon-github
          %span.text Github:
        %a{ href: 'https://github.com/msaspence', target: '_blank' }
          %i.icon.icon-fw.icon-github
          %span.text /msaspence
      .profile
        %h5
          %i.icon.icon-fw.icon-twitter
          %span.text Twitter:
        %a{ href: 'https://twitter.com/msaspence', target: '_blank' }
          %i.icon.icon-fw.icon-twitter
          %span.text @msaspence

      .profile
        %h5
          %i.icon.icon-fw.icon-envelope
          %span.text Email:
        %a{ href: 'mailto:msaspence@gmail.com'}
          %i.icon.icon-fw.icon-envelope
          %span.text msaspence@gmail.com

      .profile.print-only
        %h5
          %i.icon.icon-fw.icon-globe
          %span.text Website:
        %a{ href: 'http://msaspence.com' }
          %i.icon.icon-fw.icon-globe
          %span.text msaspence.com

  
