.advert {
  margin: 40px 0 -10px;
  padding: 20px;
  background: darken($brand-secondary, 10%);
  color: $off-white;
}

.advert h3 {
  margin: 0 0 10px;
}

.advert h4 {
  margin: 0 0 0px;
}

.advert a {
  color: white;
}

@media (max-width: 1200px) {
  .advert {
    padding: 15px;
    h3 {
      font-size: 22px;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 18px;
      font-weight: normal;
    }
  }
}

@media (max-width: 992px) {
  .advert {
    padding: 15px;
    margin-top: 25px;
    h3 {
      font-size: 22px;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 18px;
      font-weight: normal;
    }
  }
}

@media (max-width: 767px) {
  .advert {
    margin: 20px -5px 10px 10px;
    padding: 10px;
    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 16px;
      font-weight: normal;
    }

  }
}

@media (max-width: 650px) {
  .advert {
    margin-right: -5px;
  }
}
