

.experience {
  margin-top: 40px;
  
  ul {
    padding-left: 0;
    li {
      font-size: 15px;
      margin-bottom: 7px;
      list-style-type: none;
      display: flex;
      line-height: 1.25;
      &.education {
        display: block;
        margin-top: 14px;
        .area {
          font-size: 14px;
          line-height: 14px;
        }
      }
      .area {
          flex-grow: 1;
      }
      .time {
        font-weight: bold;
        margin-left: 8px;
        text-align: right;
      }
    }
  }
}

.projects {
  margin-top: 40px;
  max-width: 400px;

  h3 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 15px;
    font-size: 15px;
  }

  .project {
    @extend .clearfix;
    margin-top: 8px;
    .icon {
      margin-right: 2px;
      color: #212529;
    }
    h4 {
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 4px;
    }
    p {
      font-size: 14px;
      color: #666;
      margin-bottom: 12.5px;
    }

    .actions {
      float: right;
      margin-left: 20px;
      margin-top: -3px;
    }
  }
}

@media (max-width: 992px) {
  .projects {
    margin-top: 60px;
  }
}
